
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/


# macOS
.DS_Store

# Playwright
playwright-report/
test-results/

# Custom reports
custom-report/result.json
custom-report/custom-report.html
